footer {
  // footer top
  .footer__top {
    .footer__collapse {
      .footer__top__action {
        button {
          width: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: none;
          border: none;
          font-size: 12px;
          font-weight: 500;
          padding: 20px 0;
          a {
            text-decoration: none;
            color: white;
            text-align: center;
          }

          &:hover a {
            text-decoration: underline;
          }
        }
      }
      .item__collapse {
        button {
          .rotate-icon {
            transition: all 0.3s ease;
          }

          &[aria-expanded="true"] .rotate-icon {
            transform: rotateX(180deg);
          }

          &[aria-expanded="true"] {
            border-bottom: none !important;
          }
        }

        .collapse__content {
          ul {
            li {
              font-size: 12px;
              list-style: none;
              margin-bottom: 5px;

              a {
                color: #8a8a8a;
                font-weight: 400;
                text-decoration: none;
                transition: all 0.2s ease;
              }

              &:hover a {
                text-decoration: underline;
              }
            }
          }
        }
      }
      .footer__top__contact {
        .footer__top__contact__container {
          p {
            color: #8a8a8a;
            font-size: 12px;
          }

          .input-group {
            input {
              &:focus {
                border-color: #8a8a8a !important;
                box-shadow: none !important;
              }
            }
          }

          .social__group {
            a {
              text-decoration: none;
              color: black;
              font-size: 12px;
              padding: 0 20px;
            }
          }

          .extra__info {
            p {
              padding: 0 20px;
              a {
                text-decoration: none;
                color: #8a8a8a;
                font-size: 10px;
              }
            }
          }
        }
      }
    }
    .footer__diplay {
      border-top: 1px solid #dee2e6;

      .contact {
        height: 100%;
        border-right: 1px solid #dee2e6;
        padding: 25px 0;

        h6 {
          font-size: 14px;
        }
        p {
          font-size: 10px;
          color: #8a8a8a;
          line-height: 20px;
        }

        .input-group {
          input {
            &:focus {
              box-shadow: none;
              border-color: #8a8a8a;
            }
          }
        }
      }

      .follow__us {
        border-right: 1px solid #dee2e6;
        padding: 25px 0;

        p {
          margin-bottom: 0;
          a {
            color: black;
            text-decoration: none;
            font-size: 12px;
            font-weight: 500;
          }
        }

        h6 {
          color: black;
          font-size: 12px;
          font-weight: 500;
        }

        div {
          display: flex;
          border: 1px solid #dee2e6;
          overflow-x: auto; // allows scroll on very small screens
          gap: 0; // optional spacing between icons

          a {
            font-size: 12px;
            flex: 1 1 0;
            aspect-ratio: 1; // keeps the box square
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #dee2e6;
            color: black;
            text-decoration: none;

            &:last-child {
              border-right: none;
            }
          }
        }
      }

      .get__help {
        border-right: 1px solid #dee2e6;
        padding: 25px 0;

        h6 {
          font-size: 14px;
        }

        ul {
          li {
            font-size: 12px;
            list-style: none;
            margin-bottom: 5px;

            a {
              color: #8a8a8a;
              font-weight: 400;
              text-decoration: none;
              transition: all 0.2s ease;
            }

            &:hover a {
              text-decoration: underline;
            }
          }
        }
      }

      .about {
        height: 100%;
        padding: 25px 0;

        h6 {
          font-size: 14px;
        }

        ul {
          li {
            font-size: 12px;
            list-style: none;
            margin-bottom: 5px;

            a {
              color: #8a8a8a;
              font-weight: 400;
              text-decoration: none;
              transition: all 0.2s ease;
            }

            &:hover a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  // footer bottom
  .footer__bottom {
    .footer__bottom__container {
      .footer__lang {
        img {
          width: 15px;
          height: auto;
        }
        span {
          font-size: 10px;
          color: white;
          margin-left: 5px;
        }
      }
      .footer__extraInfo {
        p {
          padding: 0 20px;
          margin-bottom: 0;
          a {
            text-decoration: none;
            color: #8a8a8a;
            font-size: 10px;
          }
        }
      }
      .footer__copyright {
        p {
          margin-bottom: 0;
          font-size: 12px;
          color: white;
        }
      }
    }
  }
}
