.register {
  .register__content {
    .register__form {
      .register__form__left {
        .form-group {
          input {
            padding: 10px 5px;

            &:focus {
              border-color: rgba(0, 0, 0, 0.438);
              box-shadow: none;
            }
          }
        }
      }
      .register__form__right {
        .form-group {
          // label {
          // }
          input {
            padding: 10px 5px;

            &:focus {
              border-color: rgba(0, 0, 0, 0.438);
              box-shadow: none;
            }
          }

          .error-message {
           color: red;
          }

          .form-check {
            .form-check-input {
              &:checked {
                background-color: black;
                border-color: black;
              }
            }
          }
        }
        .register__form__btn {
          background-color: black;
          color: white;
          padding: 12px 7px;
          border-radius: 0;
        }
      }
    }
  }
}
