.profile-style {
  position: relative;
  padding: 0;
  overflow: hidden;
  .container {
    position: relative;
    z-index: 2;
    padding: 60px 20px;
    max-width: 1600px;
    margin: 0 auto;
    height: 100%;
    min-height: 500px;

    .profile-img {
      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 1;
      }
    }
    .profile-text {
      gap: 20px;
      position: absolute;
      left: 40px;
      bottom: 60px;
      z-index: 3;
      h3 {
        font-size: 20px;
        font-weight: bold;
      }
      h1 {
        font-size: 60px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .profile-button {
      position: absolute;
      z-index: 4;
      left: 40px;
      bottom: 5px;
      button {
        padding: 10px 40px;
        background-color: white;
        color: black;
        font-weight: 600;
        border: none;
        border-radius: 4px;
        transition: all 0.3s ease;

        &:hover {
          background-color: black;
          color: white;
          transform: translateY(-2px);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }
}
